.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffeb00;
  overflow: hidden;

  &>main {
    flex: 1 1;
    align-self: center;
    width: 100%;
    max-width: 480px;
  }

  &>header {
    min-height: 2rem;
  }

  &>footer {
    min-height: 2rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;

    &>* {
      padding: 0.25rem;
    }
  }
}
